RewriteEngine on
RewriteBase /
Options +Indexes

# when a subdomain is present, attempt to load /environments/{mysubdomain}/web directory
RewriteCond %{HTTP_HOST}        !^www
RewriteCond %{HTTP_HOST}        ^([^\.]+)\.([^\.]+)\.([^\.]+)$
RewriteCond %{DOCUMENT_ROOT}/environments/%1/assets/$1 -f
RewriteRule ^(.*)$ /environments/%1/assets/$1 [L]

# when no subdomain is present, always load /env/content/web directory
RewriteCond %{HTTP_HOST} !^([^\.]+)\.([^\.]+)\.([^\.]+)$ [NC]
RewriteCond %{DOCUMENT_ROOT}/environments/frontend/assets/$1 -f
RewriteRule ^(.*)$ /environments/frontend/assets/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [NC,L,QSA]
