.icon,
.reload,
.column:empty:after{
  transition: 250ms;
}

html, body{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}


.columns,
.rows{
  height: 100%;
  width: 100%;
  display: flex;
}

.columns .column{
  box-sizing: border-box;
  flex: 1;
}

.rows .row{
  width: 100%;
}

.icon{
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  text-decoration: none;

}

.icon > i{
  display: flex;
  align-self: center;
}
.icon.rounded{
  border-radius: 100%;
}

.icon.rounded:hover{
  border-radius: 0%;
}

.columns .column.actions{
  padding: 8px;
  flex: 0 50px;
  background-color: #222;
  position: relative;
  z-index: 750;
}
.columns .column.actions,
.columns .column.settings,
.columns .column.notifications-index{
  -webkit-box-shadow: 0px 5px 7.5px 0px rgba(100,100,100,.5);
  -moz-box-shadow: 0px 5px 7.5px 0px rgba(100,100,100,.5);
  box-shadow: 0px 5px 7.5px 0px rgba(100,100,100,.5);
  position: relative;
  z-index: 500;
}

.columns .column.actions .icon{
  margin-bottom: 1rem;
}

.columns .column.actions .icon:active:hover,
.columns .column.actions .icon.active{
  background-color: var( --orange );
}

.columns .column.actions .icon.active,
.columns .column.actions .icon.active:hover{
  border-radius: 100%;
}

.columns .column.actions .unread{
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  border-radius: 100%;
  background-color: var( --orange );
}

.column.actions .icon {
  width: 40px;
  height: 40px;
}

@media ( min-width: 768px ){
  .columns .column.actions{
    padding: 16px;
    flex: 0 80px;
  }
  .column.actions .icon {
    width: 48px;
    height: 48px;
  }
}

.columns .column.main{
  width: calc( 100% - 72px );
}

.column.settings-view{
  padding: 0;
}

@media ( min-width: 1280px ){
  .columns .column.notifications-index,
  .columns .column.settings{
    flex: 0 300px;
  }
}

.notifications-index .list .items .item.unread:after{
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  transform: translateY(-50%);
  background-color: var( --orange );
}
.list .items .active .item{
  border-left: 6px solid var( --orange );
}

.progress-indicator{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  overflow: hidden;
}
.progress-indicator .progress-value{
  width: 100%;
  height: 100%;
  transition: .2s;
  background-color: var( --info );
  position: absolute;
  overflow: hidden;
}

.progress-indicator .progress-value:after{
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,.5) , rgba(255,255,255,0) );
  animation: progressAfter 2s infinite;
  position: absolute;
}

.list.themes .items .item{
  padding-right: 40px;
}



@keyframes progressAfter{
  0% {
    transform: translateX( -100% );
  } 100% {
    transform: translateX( 100% );
  }
}

.column::-webkit-scrollbar {
    width: .5rem;
}

.column::-webkit-scrollbar-track {
  background-color: #222;
}

.column::-webkit-scrollbar-thumb {
  background-color: #666;
}
.column:empty{
  position: relative;
  display: none;
}
.column.main .columns{
  position: relative;
}
.column.main .columns .column{
  position: absolute;
  /*overflow: auto;*/
  overflow: visible;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #f2f2f2;
  z-index: 100;
}
.column.main .columns .column:last-child{
  z-index: 150;
}

@media ( min-width: 768px ){
  .column:empty{
    position: relative;
    display: block;
  }
  .column.main .columns{
    position: relative;
  }
  .column.main .columns .column{
    position: relative;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: transparent;
  }
  .column.main .columns .column:last-child{
    z-index: 1;
  }
}



.column:empty:after{
  content: attr( data-empty-content );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  padding: 1rem;
  text-transform: uppercase;
  color: rgba( 177, 177, 177, .4 );
  border-radius: 2px;
  border: 1px dotted rgba( 177, 177, 177, .4 );
  -webkit-box-shadow: 0px 5px 7.5px 0px rgba(100,100,100,0);
  -moz-box-shadow: 0px 5px 7.5px 0px rgba(100,100,100,0);
  box-shadow: 0px 5px 7.5px 0px rgba(100,100,100,0);
}

.column:empty:hover:after{
  color: white;
  font-weight: bold;
  background-color: #009688;
  border-style: solid;
  border-color: #009688;
  -webkit-box-shadow: 0px 5px 7.5px 0px rgba(100,100,100,.5);
  -moz-box-shadow: 0px 5px 7.5px 0px rgba(100,100,100,.5);
  box-shadow: 0px 5px 7.5px 0px rgba(100,100,100,.5);
}

.unload,
.reload{
  border-radius: 100%;
  padding: 12px;
  margin: 0;
  cursor: pointer;
}

.unload:hover,
.reload:hover{ background-color: #efefef; }
.unload:active,
.reload:active{ background-color: #e5e5e5; }

.login-wrapper{
  width: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;

}
